.menuBar{
  align-items: right;
}

.button {
  font-size: large;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #748ffc, 0 3rem 0 #fff;
  transition: text-shadow 200ms;
  vertical-align: bottom;
}
.button:hover {
  text-shadow: 0 -3rem 0 #000000, 0 0 0 #000000;
}
.buttonText {
  margin: 0 0 12px 0;
  padding: 0;
}