.nav{
  display: inline-block;
  margin: 0 0 0 0;
  width: 80%; 
}

.menuBar{
  text-align:right;
  /* float: right; */
  /* margin: 0 0 0 auto ; */
  margin-bottom: 0;
  list-style: none;
  /* display: flex; */
  /* display: inline-block; */
}

.li {
  /* width: 140px; */
  text-align: center;
  /* background-color: #333; */
  display: inline-block;
  margin-bottom: 0;
}

.button {
  padding: 0 1rem 0 1rem; /* 上 | 右 | 下 | 左 */
  font-size: 0.9rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #748ffc, 0 3rem 0 #fff;
  transition: text-shadow 200ms;
  vertical-align: bottom;
}
.button:hover {
  text-shadow: 0 -3rem 0 #000000, 0 0 0 #000000;
}